<?xml version='1.0'?>

<model>
  <name>indian_tunnel</name>
  <version>1.0</version>
  <sdf version='1.6'>model.sdf</sdf>

  <author>
    <name>Tetsuya Idota</name>
    <email>tidota@hawaii.edu</email>
  </author>

  <description>
    A model of the Indian Tunnel, the world's biggest lava tube on Earth.
    The tunnel was reconstructed from the dataset given by CMU.
  </description>
</model>
