<?xml version="1.0"?>
<launch>
  <include file="$(find quadrotor_tunnel_nav)/launch/adhoc/spawn_control_wall_following.launch">
    <arg name="ns" value="robot1"/>
  </include>
  <include file="$(find quadrotor_tunnel_nav)/launch/adhoc/spawn_control_wall_following.launch">
    <arg name="ns" value="robot2"/>
  </include>
  <include file="$(find quadrotor_tunnel_nav)/launch/adhoc/spawn_control_wall_following.launch">
    <arg name="ns" value="robot3"/>
  </include>
  <include file="$(find quadrotor_tunnel_nav)/launch/adhoc/spawn_control_wall_following.launch">
    <arg name="ns" value="robot4"/>
  </include>
  <include file="$(find quadrotor_tunnel_nav)/launch/adhoc/spawn_control_wall_following.launch">
    <arg name="ns" value="robot5"/>
  </include>
  <include file="$(find quadrotor_tunnel_nav)/launch/adhoc/spawn_control_wall_following.launch">
    <arg name="ns" value="robot6"/>
  </include>
  <include file="$(find quadrotor_tunnel_nav)/launch/adhoc/spawn_control_wall_following.launch">
    <arg name="ns" value="robot7"/>
  </include>
  <include file="$(find quadrotor_tunnel_nav)/launch/adhoc/spawn_control_wall_following.launch">
    <arg name="ns" value="robot8"/>
  </include>
  <include file="$(find quadrotor_tunnel_nav)/launch/adhoc/spawn_control_wall_following.launch">
    <arg name="ns" value="robot9"/>
  </include>
  <include file="$(find quadrotor_tunnel_nav)/launch/adhoc/spawn_control_wall_following.launch">
    <arg name="ns" value="robot10"/>
  </include>
</launch>
