<?xml version="1.0"?>
<launch>
  <include file="$(find hector_gazebo_worlds)/launch/start.launch">
   <arg name="world" value="$(find quadrotor_tunnel_nav)/worlds/adhoc/I-tunnel-40x10.world"/>
   <arg name="args" value="--verbose"/>
  </include>

  <!-- Spawn simulated quadrotor uav -->
  <include file="$(find quadrotor_tunnel_nav)/launch/spawn_uav.launch">
    <arg name="ns" value="robot1"/>
    <arg name="model" value="$(find quadrotor_tunnel_nav)/urdf/adhoc/quadrotor_adhoc.gazebo.xacro"/>
    <arg name="x" value="0"/><arg name="y" value="-3"/>
  </include>
  <include file="$(find quadrotor_tunnel_nav)/launch/spawn_uav.launch">
    <arg name="ns" value="robot2"/>
    <arg name="model" value="$(find quadrotor_tunnel_nav)/urdf/adhoc/quadrotor_adhoc.gazebo.xacro"/>
    <arg name="x" value="-8"/><arg name="y" value="-3"/>
  </include>
  <include file="$(find quadrotor_tunnel_nav)/launch/spawn_uav.launch">
    <arg name="ns" value="robot3"/>
    <arg name="model" value="$(find quadrotor_tunnel_nav)/urdf/adhoc/quadrotor_adhoc.gazebo.xacro"/>
    <arg name="x" value="-16"/><arg name="y" value="-3"/>
  </include>
  <include file="$(find quadrotor_tunnel_nav)/launch/spawn_uav.launch">
    <arg name="ns" value="robot4"/>
    <arg name="model" value="$(find quadrotor_tunnel_nav)/urdf/adhoc/quadrotor_adhoc.gazebo.xacro"/>
    <arg name="x" value="-16"/><arg name="y" value="3"/><arg name="Y" value="$(eval -3.14159265 / 2)"/>
  </include>
  <include file="$(find quadrotor_tunnel_nav)/launch/spawn_uav.launch">
    <arg name="ns" value="robot5"/>
    <arg name="model" value="$(find quadrotor_tunnel_nav)/urdf/adhoc/quadrotor_adhoc.gazebo.xacro"/>
    <arg name="x" value="-8"/><arg name="y" value="3"/><arg name="Y" value="3.14159265"/>
  </include>
  <include file="$(find quadrotor_tunnel_nav)/launch/spawn_uav.launch">
    <arg name="ns" value="robot6"/>
    <arg name="model" value="$(find quadrotor_tunnel_nav)/urdf/adhoc/quadrotor_adhoc.gazebo.xacro"/>
    <arg name="x" value="0"/><arg name="y" value="3"/><arg name="Y" value="3.14159265"/>
  </include>
  <include file="$(find quadrotor_tunnel_nav)/launch/spawn_uav.launch">
    <arg name="ns" value="robot7"/>
    <arg name="model" value="$(find quadrotor_tunnel_nav)/urdf/adhoc/quadrotor_adhoc.gazebo.xacro"/>
    <arg name="x" value="8"/><arg name="y" value="3"/><arg name="Y" value="3.14159265"/>
  </include>
  <include file="$(find quadrotor_tunnel_nav)/launch/spawn_uav.launch">
    <arg name="ns" value="robot8"/>
    <arg name="model" value="$(find quadrotor_tunnel_nav)/urdf/adhoc/quadrotor_adhoc.gazebo.xacro"/>
    <arg name="x" value="16"/><arg name="y" value="3"/><arg name="Y" value="3.14159265"/>
  </include>
  <include file="$(find quadrotor_tunnel_nav)/launch/spawn_uav.launch">
    <arg name="ns" value="robot9"/>
    <arg name="model" value="$(find quadrotor_tunnel_nav)/urdf/adhoc/quadrotor_adhoc.gazebo.xacro"/>
    <arg name="x" value="16"/><arg name="y" value="-3"/><arg name="Y" value="$(eval 3.14159265/2)"/>
  </include>
  <include file="$(find quadrotor_tunnel_nav)/launch/spawn_uav.launch">
    <arg name="ns" value="robot10"/>
    <arg name="model" value="$(find quadrotor_tunnel_nav)/urdf/adhoc/quadrotor_adhoc.gazebo.xacro"/>
    <arg name="x" value="8"/><arg name="y" value="-3"/>
  </include>

  <include file="$(find quadrotor_tunnel_nav)/launch/adhoc/adhoc_control.launch"/>

</launch>
