<?xml version="1.0"?>
<launch>
  <arg name="gui" default="true"/>

  <rosparam command="load" file="$(find quadrotor_tunnel_nav)/config/adhoc/robots.yaml" />
  <rosparam command="load" file="$(find quadrotor_tunnel_nav)/config/adhoc/simconfig.yaml" />
  <include file="$(find hector_gazebo_worlds)/launch/start.launch">
   <arg name="world" value="$(find quadrotor_tunnel_nav)/worlds/adhoc/I-tunnel-40x10.world"/>
   <arg name="args" value="--verbose"/>
   <arg name="gui" value="$(arg gui)"/>
  </include>

  <!-- Spawn simulated quadrotor uav -->
  <node if="$(arg gui)" pkg="quadrotor_tunnel_nav" type="auto_launch.py" name="robot_team_spawner"/>
  <node unless="$(arg gui)" pkg="quadrotor_tunnel_nav" type="auto_launch.py" name="robot_team_spawner" args="--nogui"/>
</launch>
