<?xml version="1.0"?>

<robot name="quadrotor" xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:include filename="$(find quadrotor_tunnel_nav)/urdf/quadrotor_ray_sensor.urdf.xacro" />
    <xacro:include filename="$(find hector_quadrotor_gazebo)/urdf/quadrotor_plugins.gazebo.xacro" />
    <gazebo>
      <plugin name="adhocclient_plugin" filename="libAdHocClientPlugin.so">
        <enable>false</enable>
        <delay>0.5</delay>
      </plugin>
    </gazebo>
</robot>
