<?xml version="1.0"?>

<launch>
  <arg name="ns" default="robot"/>

  <group ns="$(arg ns)">
    <node name="octomap" pkg="quadrotor_tunnel_nav" type="octomap_only" args="" />
  </group>

  <node pkg="rviz" type="rviz" name="rviz_nav" output="screen" args="-d $(find quadrotor_tunnel_nav)/config/octomap_only/octree.rviz"></node>

</launch>
